.actions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
}

#add {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
