<div class="card-container">
  <div class="card">
    <div class="form">
      <label for="login">Login</label>
      <input id="login" type="text" [(ngModel)]="registerUserModel.userName">
      <label for="password">Password</label>
      <input id="password" type="password" [(ngModel)]="registerUserModel.password" (input)="onInput()">
      <label for="confirmPassword">Confirm password</label>
      <input id="confirmPassword" type="password" [(ngModel)]="confirmPassword">
      <em class="strength">
        Password strength:
        <span class="strong" *ngIf="strong()">strong</span>
        <span class="medium" *ngIf="medium()">medium</span>
        <span class="weak" *ngIf="weak()">weak</span>
      </em>
      <label for="firstname">First name</label>
      <input id="firstname" type="text" [(ngModel)]="registerUserModel.firstName">
      <label for="lastname">Last name</label>
      <input id="lastname" type="text" [(ngModel)]="registerUserModel.lastName">
      <label for="is-employee">Employee</label>
      <input id="is-employee" type="checkbox" [(ngModel)]="registerUserModel.isEmployee">
      <div class="error-message-container">
        <em *ngFor="let errorMessage of errorMessages">{{errorMessage.message}}</em>
      </div>
      <button (click)="submit()">Register</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
