.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: fit-content;
}

.error-message-container {
  color: red;
  grid-column: span 2;
}

.strong {
  color: green;
}

.medium {
  color: #d5d505;
}

.weak {
  color: red;
}

.strength {
  font-size: 12px;
}

em {
  grid-column: span 2;
  display: block;
}
